* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_33 {
  width: 193px;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_34 {
  width: 192px;
  height: 60px;
  background: url("../images/v3_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v3_35 {
  width: 192px;
  height: 60px;
  background: linear-gradient(rgba(161,137,165,1), rgba(219,0,255,1));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v3_36 {
  width: 110px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 19px;
  left: 66px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_37 {
  width: 36px;
  height: 36px;
  background: url("../images/v3_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
